@import "partials/_variables.scss";
@import "partials/_mixins.scss";

body{
  background-color: rgba(255, 120,0,1);
  // background: red; /* For browsers that do not support gradients */
  // background: -webkit-linear-gradient(left top, red, yellow); /* For Safari 5.1 to 6.0 */
  // background: -o-linear-gradient(bottom right, red, yellow); /* For Opera 11.1 to 12.0 */
  // background: -moz-linear-gradient(bottom right, red, yellow); /* For Firefox 3.6 to 15 */
  // background: linear-gradient(to bottom right, red, yellow); /* Standard syntax */
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  font-family:'Anton', sans-serif;
  letter-spacing: .1rem;
  padding:0 20px;
}

*{
  margin:0;
  padding:0;
}

.content{
  width:800px;
  height:800px;
  margin-top:30px;

  header{

    h1{
      margin:20px auto;
      text-align: center;
      text-transform: uppercase;
      font-size:4rem;


      span{
        color:white;
      }
    }
  }
}

// GAMERBOARD__________________________________

.gameboard{
  background-color: red;
  height:600px;
  box-shadow: 10px 10px 30px rgba(0,0,0,.3);

  table{
    width: 100%;
    border-spacing: 0;

    tr{
      height:60px;

      th{
        // border:1px solid rgba(0,0,0,.5);
      }
    }

    .color1{
      background-color: rgba(12,24,48,1);
    }

    .color2{
      background-color: rgba(50,50,100,1);
    }

    .color3{
      background-color: pink;
    }

    .color4{
      background-color: purple;
    }
  }
}



// FOOTER___________________________________

footer{
  display: flex;
  align-items: center;
  justify-content: center;
  height:150px;

  form{

    input{
      padding:15px 30px;

    }
  }
}
