@import "partials/_variables.scss";
@import "partials/_mixins.scss";

body{
  background-image: linear-gradient(black, #fa3600);
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  font-family:'Anton', sans-serif;
  letter-spacing: .1rem;
  padding:0 20px;
  height: 100vh;
}

*{
  margin:0;
  padding:0;
}

.content{
  width:300px;
  height:400px;
  margin-top:30px;
  position:relative;

  header{
    transform: skewX(-15deg);
    text-align: center;

    h1 {
      text-transform: uppercase;
      display: inline-block;
      margin: 20px 0 ;
      font-size: 1.3rem;
      background-image: -webkit-linear-gradient(orange, red);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      position:relative;
    }

    h1:after {
      background: none;
      content: attr(data-text);
      left: 0;
      position: absolute;
      text-shadow: 5px 5px 0px #000;
      top: 0;
      z-index: -1;
    }

    span{
      background-image: -webkit-linear-gradient(#fff, #fff);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
}

// GAMERBOARD__________________________________

.gameboard{
  // height:300px;
  box-shadow: 10px 10px 30px rgba(0,0,0,.3);

  table{
    width: 300px;
    border-spacing: 0;
    counter-reset: cellsNumber;

    tr{
      height:30px;

      th{
        width:40px;
      }
    }

  }

  .color1{
    background-color: #ddd;
  }

  .color2{
    background-color: #4F5E67;
  }

  .color3{
    background-color: #6B7E8B;
  }

  .color4{
    background-color: #CCD8E2;
  }

  .color5{
    background-color: #44444f;
  }

  .color6{
    background-color: #666;
  }

  .color7{
    background:red;
  }

}



// FOOTER___________________________________

.play{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: -90px;
}

input{
  height:100px;
  width:100px;
  background-color: orange;
  border-radius: 50%;
  outline:none;
  font-size: 2rem;
  font-family: inherit;
   -webkit-text-stroke: 1px rgba(255,255,255,.5);
}








// MEDIA QUERIES__________________________________________________

@media (min-width:767px) {
  .content{
    width:600px;
    height:800px;

    header{
      h1{
        font-size:3rem;
      }
    }

    .gameboard{

      table{
        width: 600px;
        height:600px;
      }
    }

    .play{
      bottom:-30px;
    }
  }
}
